In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("netflix_titles.csv")

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [17]:
print(df.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [18]:
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [19]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [20]:
df["director"] . fillna("unknow" , inplace=True)

C:\Users\bhart\AppData\Local\Temp\ipykernel_29288\1318930939.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["director"] . fillna("unknow" , inplace=True)

In [21]:
df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast            825
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [22]:
df["cast"] . fillna("unknow Actor / Actress" , inplace=True)

C:\Users\bhart\AppData\Local\Temp\ipykernel_29288\4227377275.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cast"] . fillna("unknow Actor / Actress" , inplace=True)

In [23]:
df["country"].fillna("unknow countries", inplace=True)

C:\Users\bhart\AppData\Local\Temp\ipykernel_29288\3095824276.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].fillna("unknow countries", inplace=True)

In [24]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [25]:
missing_indexes = df[df['date_added'].isnull()].index.tolist()
print(missing_indexes)

[6066, 6174, 6795, 6806, 6901, 7196, 7254, 7406, 7847, 8182]

In [26]:
dates_to_fill = [
    '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24', '2023-08-25',
    '2023-08-26', '2023-08-27', '2023-08-28', '2023-08-29', '2023-08-30'
]
index_list = [6066, 6174, 6795, 6806, 6901, 7196, 7254, 7406, 7847, 8182]

for i,j in zip(index_list, dates_to_fill):
    df.at[i, "date_added"]= j

In [27]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          4
duration        3
listed_in       0
description     0
dtype: int64

In [28]:
missing_indexes = df[df['rating'].isnull()].index.tolist()
print(missing_indexes)

[5989, 6827, 7312, 7537]

In [29]:
rating_fill = [
    'PG', 'TV-MA', 'TV-14'
]
indx_list =[5989, 6827, 7312, 7537]

for y, k in zip(indx_list, rating_fill):
    df.at[y, "rating"] = k

In [30]:
missing_index = df[df['duration'].isnull()].index.tolist()
print(missing_index)

[5541, 5794, 5813]

In [31]:
duration_fill=['120 min', '100 min', '2 h']
inx_list=[5541, 5794, 5813]
for i,j in zip(duration_fill,inx_list):
    df.at[j, "duration"]=j

In [32]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          1
duration        0
listed_in       0
description     0
dtype: int64

In [33]:
df["rating"].fillna("TV-MA", inplace=True)

C:\Users\bhart\AppData\Local\Temp\ipykernel_29288\3258603644.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rating"].fillna("TV-MA", inplace=True)

In [34]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [36]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [38]:
df.to_csv('cleaned_netflix_data.csv', index=False)

In [40]:
# Country wise shows
country_count = df.groupby('country')['title'].count().sort_values(ascending=False)
print(country_count.head(20))

country
United States                    2818
India                             972
unknow countries                  831
United Kingdom                    419
Japan                             245
South Korea                       199
Canada                            181
Spain                             145
France                            124
Mexico                            110
Egypt                             106
Turkey                            105
Nigeria                            95
Australia                          87
Taiwan                             81
Indonesia                          79
Brazil                             77
Philippines                        75
United Kingdom, United States      75
United States, Canada              73
Name: title, dtype: int64

In [41]:
# Top 10 directors by number of shows
top_directors = df.groupby('director')['title'].count().sort_values(ascending=False).head(10)
print(top_directors)

director
unknow                    2634
Rajiv Chilaka               19
Raúl Campos, Jan Suter      18
Marcus Raboy                16
Suhas Kadav                 16
Jay Karas                   14
Cathy Garcia-Molina         13
Martin Scorsese             12
Jay Chapman                 12
Youssef Chahine             12
Name: title, dtype: int64